.grid-container {
    display: grid;
    grid-template-columns: auto auto auto  auto; /* 4 columnas*/
    gap: 20px;
    margin: auto;
    width: 80%;
  }

.title-grid{
    grid-column: 1/span 4;
    grid-row: 1;
}

.grid-container > div {
    background-color: #cccccc;
    text-align: center;
    display: inline-block;
}
